      .banner{
        display:flex;
        overflow-x: auto;
        -webkit-overflow-scrolling:touch;
      }

      .banner div{
        flex-shrink:0;
        width:290px;
        height:165px;
      }

      .screenshot{
        display:flex;
        overflow-x: auto;
        -webkit-overflow-scrolling:touch;
      }

      .screenshot div{
        flex-shrink:0;
        width:250px;
        height:515px;
      }
