       /* Conteneur du slider */
    .slider-container {
      width: 100%;
      overflow: auto;
      position: relative;
      scroll-snap-type: x mandatory;
    }
    
    /* Liste des images */
    .slider-list {
      display: flex;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      scroll-snap-type: x mandatory;
      transition: transform 0.5s;
    }
    
    /* Image dans le slider */
    .slider-item {
      width: 100%;
      height: auto;
      flex-shrink: 0;
      scroll-snap-align: center;
      margin: 10px;
    }
    
    /* Boutons de navigation */
    .slider-nav {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
    }
    
.slider-item img {
    width: 100%;
    height: 182px;
    object-fit: cover;
    border-radius: 17px;
}


/*news cards*/
.carousel-container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100%;
  scrollbar-width: none; /* Hide scrollbar for supported browsers */
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
}

.news-card {
  flex: 0 0 290px;
  height: 221px;
  border: 1px solid rgb(37, 37, 39);
  background-color: #1c1c1c;
  border-radius: 17px;
  padding: 15px;
  scroll-snap-align: start;
  margin-left: 12px;
}

.illu {
  position: relative;
}

.illu img {
  width: 100%;
  border-radius: 13px;
  height: 132px;
  object-fit: cover;
}

.newstitle {
  color: white;
  font-size: 18px;
}

