 .banner{
        display:flex;
        overflow-x: auto;
        -webkit-overflow-scrolling:touch;
      }

      .banner div{
        flex-shrink:0;
        width:280px;
        height:159px;
      }
