body {
    background-color: #15202B;
}

.apps::before .apps{
    background-color: #1E2732;
}

button {
    background-color: #1D9BF0;
}

.apps > .appList > .dock {
    background-color: #1D9BF0;
}

center > a {
    background-color: #1D9BF0;
}

.ioslist {
    background-color: #1E2732;
}

.ioslist li {
    border-bottom: 1px solid rgba(31, 31, 31, 0.63);
}