    * {
        box-sizing: border-box;
    }

    .featured {
        font-family: helvetica;
        display: flex;
        padding-left: 16px;
        padding-right: 16px;
        transform: translateX(-32px);
        margin-bottom: 16px;
    }

    .header {
        padding: 140px 15px 11px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        min-width: 100vw;
        scroll-snap-align: start;
        text-align: center;
        position: relative;
    }

    .featuredimg {
        position: absolute;
        height: 95%;
        width: 92%;
        top: 0;
        object-fit: cover;
        object-position: center;
        border-radius: 20px;
    }

.dock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #1c1c1cb3; */
    padding: 8px;
    border-radius: 20px;
    width: 100%;
    max-width: 445px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

    .app_cell_left {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .appicon {
        border-radius: 15px;
        background-color: #000;
        width: 60px;
        height: 60px;
        object-fit: cover;
    }

    .app_cell_meta {
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 0.2rem;
    }

    .appname,
    .appsection {
        width: 170px;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: white;
         width: 150px;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
    }

    .appsection {
        opacity: .6;
        font-size: .900rem;
        width: 161px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.appget {
    background-color: rgba(49, 49, 53, 0.87);
    border-radius: 40px;
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 70px;
    height: 30px;
    object-fit: cover;
    color: var(--accent-color);
    align-items: center;
}

.appget a {
    margin-bottom: 2px;
}

.getbtn {
    background-color: transparent;
    border: none;
    font-weight: 750;
    color: var(--accent-color);
}

.overlay {
    width: 100%;
    height: 220px;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.0), rgba(18,18,18,0.999));
}


.moviescard {
    background-image: url(https://raw.githubusercontent.com/Ibinou/iTweakHub/main/img/banners/backgroundmovies.png);
    background-size: cover;
    border-radius: 15px;
    padding: 20px;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 13px;
    margin-bottom: 22px;
}

.movie-card-header {
    margin-bottom: 10px;
  text-align: left;
}

.movie-card-header h3 {
    font-size: 18px;
  
    margin: 0;
color: rgba(255, 255, 255, 0.65);
}

.movie-card-header h1 {
    font-size: 24px;
    margin: 0;

}

.movie-card-icons {
    display: flex;
    justify-content: center;
}

.movie-card-icons img {
    width: 60px;
    height: 60px;
  border-radius: 15px;
  margin: 9px;
}

.container_header {
  font-family: Helvetica;
  display: flex;
  margin-bottom: 15px;
}

.header {
  padding: 157px 0px 0px;
  box-sizing: border-box;
  display: flex;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  justify-content: center;
  min-width: 100vw;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
}

.image_header {
  position: absolute;
  height: 100%;
  width: 92%;
  top: 0;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  margin-right: 32px;
}

.cell_app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, .7);
  padding: 16px;
  width: 100%;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-right: 32px;
}

.text_app {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.icon_app {
  border-radius: 12px;
  background-color: #000;
  width: 44px;
  height: 44px;
  object-fit: cover;
}

.meta_cell_app {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.2rem;
}
.app_get {
    border-radius: 40px;
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 70px;
    height: 30px;
    object-fit: cover;
    background-color: var(--accent-color);
    align-items: center;
}

.app_get a {
    margin-bottom: 2px;
}

.get_btn {
    background-color: transparent;
    border: none;
    font-weight: 750;
    color: white;
}
  
.title_cell_app {
  width: 170px;
  color: white;
  white-space: nowrap;
  overflow: hidden!important;
  text-overflow: ellipsis;
  font-size: 13px;
}

.author_cell_app {
  opacity: .6;
  color: white;
  width: 170px;
  white-space: nowrap;
  overflow: hidden!important;
  text-overflow: ellipsis;
  ont-size: 13px;
}

.get_app {
  background-color: #db2c99;
  border-radius: 100px;
  padding: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  object-fit: cover;
}





