/* Mobile nav bar */
@supports (
(-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))
) {
.mobile-nav {
justify-content: center;
position: fixed;
bottom: 0px;
z-index: 99;
text-align: center;
padding: 15px;
margin-bottom: 10px;
margin: 5% auto;
border-style: solid;
border-color: #404040;
border-radius: 1px;
border-width: 1px;
left: 0;
right: 0;
width: 90%;
max-width: 500px;
background-color: rgba(42, 42, 42, 0.4);
border-radius: 40px;
-webkit-backdrop-filter: blur(15px);
backdrop-filter: blur(15px);
}
}

.bloc-icon {
font-size: 25px;
margin: 17px;
}

@media only screen and (min-width: 768px) {
.mobile-nav {
display: none;
}
}

@media only screen and (max-device-width: 812px) {
.bottom-tab-bar {
padding-bottom: 20px;
}
}

/* Tablet nav bar */
.side-nav {
  display: none; 
}
@media screen and (min-width: 768px) {
  .side-nav {
    display: block; 768px 
  }
.side-nav {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: left;
  position: fixed; /* Positionnement fixe */
  top: 0; /* Positionnement en haut */
  left: 0; /* Positionnement à gauche */
  bottom: 0; /* Positionnement en bas */
  width: 200px; /* Largeur de la barre de navigation */
}

.side-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.side-nav li {
  margin-bottom: 10px;
}

.side-nav a {
  display: block;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 0;
}

.side-nav a:hover {
  background-color: #333;
  color: #fff;
}


}

