/* Mobile nav bar */
@supports (
(-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))
) {
.mobile-nav {
justify-content: center;
position: fixed;
bottom: 0px;
z-index: 99;
text-align: center;
padding: 10px;
margin-bottom: 10px;
margin: 5% auto;
border-style: solid;
border-color: #404040;
border-radius: 1px;
border-width: 1px;
left: 0;
right: 0;
width: 90%;
max-width: 500px;
background-color: rgba(42, 42, 42, 0.4);
border-radius: 40px;
-webkit-backdrop-filter: blur(15px);
backdrop-filter: blur(15px);
}
}

.bloc-icon {
font-size: 23px;
margin: 19px;
}

@media only screen and (min-width: 768px) {
.mobile-nav {
display: none;
}
}

@media only screen and (max-device-width: 812px) {
.bottom-tab-bar {
padding-bottom: 20px;
}
}

/* iPad nav bar */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #2c2c2c;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  margin: 12px;
}
 
.sidebar a.active {
  background-color: #404040;
  color: white;
  border-radius: 15px;
  margin: 12px
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
  margin: 12px;
  border-radius: 15px;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 0%;
    height: 0;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
