* {
  margin: 0;
  padding: 0;
}

:root {
  --overlay: #888;
}


html,
body {
  height: 100%;
}





.sheet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
}

.sheet[aria-hidden="true"] {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.sheet .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: var(--overlay);
  opacity: 0.5;
}

.sheet .contents {
  display: flex;
  flex-direction: column;
  border-radius: 1rem 1rem 0 0;
  background-color: #1c1c1c;
  overflow-y: hidden;
  --default-transitions: transform 0.5s, border-radius 0.5s;
  transition: var(--default-transitions);
  transform: translateY(0);
  max-width: 70rem;
  max-height: 100vh;
  height: 30vh;
  box-sizing: border-box;
}

.sheet .contents:not(.not-selectable) {
  transition: var(--default-transitions), height 0.5s;
}

.sheet .contents.fullscreen {
  border-radius: 16px;
}

.sheet[aria-hidden="true"] .contents {
  transform: translateY(100%);
}

.sheet .controls {
  display: flex;
}

.sheet .draggable-area {
  width: 3rem;
  margin: auto;
  padding: 1rem;
  cursor: grab;
}

.sheet .draggable-thumb {
  width: inherit;
  height: 0.25rem;
  background-color: #404040;
  border-radius: 0.125rem;
}


.sheet .body {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}
