:root {
  touch-action: pan-x pan-y;
  height: 100%
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 10px;
  color: white;
}

input[type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #1c1c1c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #1c1c1c;
}

.button {
  background-color: #1c1c1c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

body {
  color: white;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  background-color: #121212;
}

.appList {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.appList>* {
  margin: .5rem;
}

.apps:last-child {
  margin-bottom: 4rem;
}

.appsCategory {
  margin-bottom: 1rem;
}

.apps>.dock {
  margin-bottom: .75rem;
}

.credits {
  font-family: 'Courier New', Courier, monospace;
  transform: translateY(-60px);
  font-size: 12px;
}

.rectangle {
  height: 45px;
  width: 300px;
  color: white;
  background-color: #1c1c1c;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
}

body::-webkit-scrollbar+.screenshot::-webkit-scrollbar {
  display: none
}

.section {
  height: 50px;
  color: white;
  background-color: #1c1c1c;
  border-radius: 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  padding-left: 30px;
  position: relative;
  margin-left: 16px;
  margin-right: 16px;
}

.icn-left {
  position: absolute;
  right: 10px;
  font-size: 10x;
  margin-right: 20px;
}

.icn-right {
  position: absolute;
  left: 10px;
  font-size: 10px;
  margin-left: 10px;
}

#myInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 70%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  margin-bottom: 12px;
  margin: 10px;
  border-radius: 13px;
  background-color: #242628;
  color: #ffffff;
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.section>a {
  color: white;
  text-decoration: none;
}

.inpt {
  background-color: transparent;
  padding: .75em;
  border-radius: 15px;
  border: 2px solid #141516;
}

.section > .inpt {
  transform: translateX(-22px);
  color: white
}

.appbanner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.img-banner {
  width: 100%;
  height: auto;
}
