form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 10px;
  color: white;
}

input[type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #1c1c1c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #1c1c1c;
}

.button {
  background-color: #1c1c1c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

body {
  color: white;
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.apps {
  margin: 1rem;
  padding: 1rem;
}

.apps:last-child {
  margin-bottom: 4rem;
}

.appsCategory {
  margin-bottom: 1rem;
}

.apps > .dock {
  margin-bottom: .75rem;
}

.credits {
  margin-bottom: 3rem;
  font-family: 'Courier New', Courier, monospace;
  transform: translateY(-60px);
  font-size: 12px;
}